#nav+div{
    width: 100%;
    text-align: center;
    background-color: rgb(33, 18, 101);
    color: white;
}
#nav+div>div{
    margin-top: 20px;
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
}
#nav+div>div>div{
    border: 1px solid white;
    width: 10%;
    font-size: 12px;
}
div>video{
    width: 100%;
}